Package: com.olap.ipad1ftpdownloader
Name: iPad1 FTP Downloader
Version: 1.3.0
Architecture: iphoneos-arm
Description: Lightweight FTP browser, uploader and file manager for iPad 1 / iOS 5.1.1
Maintainer: OLAP
Author: OLAP
Section: Utilities
Depends: firmware (>= 5.0)
