Package: com.olap.ipad1downloader
Name: iPad1 Downloader
Version: 1.4.0
Architecture: iphoneos-arm
Description: Lightweight FTP, HTTP/HTTPS and Wi-Fi receive transfer client for iPad 1 / iOS 5.1.1
Maintainer: OLAP
Author: OLAP
Section: Utilities
Depends: firmware (>= 5.0)
